.button {
  height: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  background-color: orange;
  font-size: 20px;
  padding: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(253, 201, 106);
  transform: translateY(-2px);
}
